/* App Layout */
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
}

.main-content {
  flex: 1;
  padding-top: 75px;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 60px;
  }
}
